.container {
  max-width: 25rem;
  border: 3px dashed #dddddd;
  padding: 5px;
}

.labelForCount {
  margin-top: 1rem;
  border-radius: 5px;
  background-color: #d3f8fd;
  padding: 0.5rem;
  display: fit-content;
  color: #8b8b8b;
}

.headerContent {
  margin-bottom: 1rem;
}

.greyTd {
  color: #8b8b8b;
}

.roomCount {
  margin-bottom: 5px;
}

.filterDivContainer {
  width: 100%;
  display: flex;
}

.filterLeftDiv {
  width: 50%;
  display: block;
  float: left;
}

.filterRightDiv {
  width: 50%;
  display: block;
  float: right;
}
